p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

@media screen and (max-width: 767px) {
  img {
    width: 50%; } }

.btn input {
  margin-bottom: 10px; }

#about h2 {
  margin-bottom: 35px; }

#company {
  margin-top: -150px;
  margin-bottom: -150px; }
  #company p {
    margin-bottom: 25px; }
  #company h2 {
    margin-bottom: 35px; }
  #company h3 {
    margin-top: 15px; }

#events {
  margin-top: -150px;
  margin-bottom: -150px; }
  #events p {
    font-size: 1.25em;
    margin-bottom: 10px; }
  #events h2 {
    margin-bottom: 25px; }
  #events h4 {
    margin-bottom: 15px;
    margin-top: 20px; }
  #events h5 {
    margin-top: 15px; }
  #events .btn {
    margin-bottom: 25px; }

#contact {
  margin-top: -150px;
  margin-bottom: 75px; }
  #contact h2 {
    margin-bottom: 50px; }
  #contact h3 {
    margin-bottom: 25px; }

@media screen and (max-width: 767px) {
  .content-section {
    margin-top: 100px;
    margin-bottom: 100px; } }

@media screen and (max-width: 767px) {
  .download-section {
    height: 450px; } }

.section-1 {
  background: url(../img/divider-img-2.jpg) no-repeat center center scroll; }

.section-2 {
  background: url(../img/divider-img-1.jpg) no-repeat center center scroll; }

.section-3 {
  background: url(../img/divider-img-2.jpg) no-repeat center center scroll; }

.footer {
  background-color: #000;
  color: #fff; }
  .footer h6 {
    padding-bottom: 10px; }
  .footer ul {
    text-align: center;
    padding-bottom: 25px; }
  .footer li {
    list-style: none;
    padding-right: 15px;
    display: inline; }
